@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}



.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
}

.sunglasses-row .col-md-4:nth-of-type(n+4){
  margin-top: 2rem;
}